:root {
  --font-inter: "Inter", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  --orange: #ff9900;
  --black: #000000;
  --gray-100: #eceff2;
  --gray-200: #7d7987;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);

  text-align: center;
  margin: 0;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: var(--font-inter);
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: var(--orange);
}

p {
  color: var(--gray-200);

  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
  margin-left: 28px;
}
